# Criando Estrutura de Dados

In [15]:
import pandas as pd

In [16]:
data = [1, 2, 3, 4, 5]

In [17]:
s = pd.Series(data)

In [18]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
index = ['Linha' + str(i) for i in range(5)]

In [20]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [21]:
s = pd.Series(data = data, index = index)

In [22]:
data

[1, 2, 3, 4, 5]

In [23]:
s = pd.Series(data)

In [24]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [25]:
s1 = s + 2

In [26]:
s1

0    3
1    4
2    5
3    6
4    7
dtype: int64

In [27]:
s2 = s + s1

In [28]:
s2

0     4
1     6
2     8
3    10
4    12
dtype: int64

## Data Frame

In [29]:
data= [[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]]

In [30]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [31]:
df1 = pd.DataFrame(data = data)

In [32]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [33]:
index = ['Linha' + str(i) for i in range(3)]

In [34]:
df1 = pd.DataFrame(data = data, index = index)

In [35]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [36]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [37]:
df1 = pd.DataFrame(data = data, index = index, columns= columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [38]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [39]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [40]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6