# Relatório de Análise II

## Tipos de Imóveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dados/aluguel.csv", sep = ";")

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [6]:
dados['Tipo']

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [8]:
dados.Tipo

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [9]:
tipo_de_imovel = dados['Tipo']

In [10]:
type(tipo_de_imovel)

pandas.core.series.Series

In [11]:
tipo_de_imovel.drop_duplicates()

0               Apartamento
16923                  Casa
17821    Casa de Condomínio
18785          Casa de Vila
19018             Quitinete
Name: Tipo, dtype: object

In [12]:
tipo_de_imovel

0        Apartamento
1        Apartamento
2        Apartamento
3        Apartamento
4        Apartamento
            ...
19826      Quitinete
19827      Quitinete
19828      Quitinete
19829      Quitinete
19830      Quitinete
Name: Tipo, Length: 19831, dtype: object

In [22]:
tipo_de_imovel.drop_duplicates(keep='first', inplace=False)
tipo_de_imovel.drop_duplicates(inplace = True)

In [23]:
tipo_de_imovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

# Organizando a Visualização

In [24]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)

In [25]:
tipo_de_imovel

                     Tipo
0             Apartamento
16923                Casa
17821  Casa de Condomínio
18785        Casa de Vila
19018           Quitinete

In [26]:
tipo_de_imovel.index

Int64Index([0, 16923, 17821, 18785, 19018], dtype='int64')

In [27]:
tipo_de_imovel.shape[0]

5

In [28]:
range(tipo_de_imovel.shape[0])

range(0, 5)

In [29]:
for i in range(tipo_de_imovel.shape[0]):
  print(i)

0
1
2
3
4

In [30]:
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])

In [31]:
tipo_de_imovel.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
tipo_de_imovel

                 Tipo
0         Apartamento
1                Casa
2  Casa de Condomínio
3        Casa de Vila
4           Quitinete

In [33]:
tipo_de_imovel.columns.name = "Id"

In [34]:
tipo_de_imovel

Id                Tipo
0          Apartamento
1                 Casa
2   Casa de Condomínio
3         Casa de Vila
4            Quitinete