In [1]:
import pandas as pd

In [3]:
json = open("../dados/aluguel.json")

In [5]:
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [6]:
df_json = pd.read_json("../dados/aluguel.json")

In [7]:
df_json

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [9]:
txt = open("../dados/aluguel.txt")

In [13]:
print(txt.read())

In [15]:
df_txt = pd.read_table("../dados/aluguel.txt")

In [17]:
print(df_txt)

                      Tipo           Bairro  Quartos  Vagas  Suites  Area  \
0                Quitinete       Copacabana        1      0       0    40
1                     Casa  Jardim Botânico        2      0       1   100
2  Conjunto Comercial/Sala  Barra da Tijuca        0      4       0   150
3              Apartamento           Centro        1      0       0    15
4              Apartamento     Higienópolis        1      0       0    48
5              Apartamento     Vista Alegre        3      1       0    70
6              Apartamento         Cachambi        2      0       0    50
7       Casa de Condomínio  Barra da Tijuca        5      4       5   750
8       Casa de Condomínio            Ramos        2      2       0    65
9  Conjunto Comercial/Sala           Centro        0      3       0   695

   Valor  Condominio    IPTU
0   1700       500.0    60.0
1   7000         NaN     NaN
2   5200      4020.0  1111.0
3    800       390.0    20.0
4    800       230.0     NaN
5   1200         NaN     NaN
6   1300       301.0    17.0
7  22000         NaN     NaN
8   1000         NaN     NaN
9  35000     19193.0  3030.0

In [25]:
df_html = pd.read_html("https://www.federalreserve.gov/releases/h3/current/default.htm")
df_html[0]

ImportError: lxml not found, please install it